node_modules
dist
.env.local
.env.production
*.log
.DS_Store
integrationGoogleSheet-context/Herramienta financiera 2 -  INGRESOS.csv
integrationGoogleSheet-context/Herramienta financiera 2 - ANUAL.csv
integrationGoogleSheet-context/Herramienta financiera 2 - INFORME MES A MES .csv
integrationGoogleSheet-context/Herramienta financiera 2 - GASTOS.csv
