node_modules
dist
.env.local
.env.production
*.log
.DS_Store
integrationGoogleSheet-context/Herramienta financiera 2 -  INGRESOS.csv
integrationGoogleSheet-context/Herramienta financiera 2 - ANUAL.csv
integrationGoogleSheet-context/Herramienta financiera 2 - INFORME MES A MES .csv
integrationGoogleSheet-context/Herramienta financiera 2 - GASTOS.csv
integrationGoogleSheet-context/ATERRIZAJE EMPRESARIAL - PRESUPUESTO POR BOLSILLO .csv
integrationGoogleSheet-context/ATERRIZAJE EMPRESARIAL - PROYECCION AÑO .csv
integrationGoogleSheet-context/ATERRIZAJE EMPRESARIAL - METAS.csv
database.sql
.env
.env.example
.env
.env
.nueva idetidad visual/.pdf
.nueva idetidad visual/Brand guidelines Sabiduría Empresarial (1).pdf
.nueva idetidad visual/CONCEPTO DE MARCA SABIDURÍA EMPRESARIAL.pdf
public/assets/brand/README.md
integrationGoogleSheet-context/Herramienta Cartera - Cartera.csv
CLAUDE.md
.contexFEedbackç/Oportunidades de Mejora de la app financiera.pdf
.contexFEedbackç/130326 SABIDURIA EMPRESARIAL App Financzas Sabias (2).pdf
docs/auditoria-feedback-y-codigo.md
